$--main-black:#111;
$--main-gray:#999999;
$--main-gray-light:#CCCCCC;
$--gray-medium:#AAA;
$--main-white:#FFFFFF;
$--yellow-primary: #FADB26;
$--yellow-hover: #FABF26;
$--yellow-pressed: #FFEA28;
$--yellow-default: #FFF6BE;
$--color-error: #FF4A31;

$--black-hover: #393937;
$--black-disabled: #CBCBCB;

$--border-radius-default: 10px;

$--container-width-default: 1280px;
$--container-width-long: 1340px;

$--screen-lg-min: 1380px;
$--screen-md-min: 1024px;
$--screen-sm-min: 767px;
$--screen-xs-min: 500px;
$--screen-xxs-min: 428px;


$--products-default-border-radius: 12px;